alabaster==0.7.12
appdirs==1.4.4
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
attrs==21.4.0
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.10.0
bleach==4.1.0
Cartopy @ file:///Users/runner/miniforge3/conda-bld/cartopy_1646828230265/work
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.2
click-plugins==1.1.1
cligj==0.7.2
commonmark==0.9.1
compress-pickle==2.1.0
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
deap @ file:///Users/runner/miniforge3/conda-bld/deap_1649690582595/work
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.4
docutils==0.17.1
entrypoints==0.4
executing==0.8.3
fastjsonschema==2.15.3
Fiona==1.8.21
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1649448510262/work
geopandas==0.10.2
haversine==2.5.1
idna==3.3
imagesize==1.3.0
importlib-metadata==4.11.3
iniconfig==1.1.1
ipykernel==6.12.1
ipython==8.2.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
jedi==0.18.1
Jinja2==3.1.1
joblib==1.1.0
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.2.1
jupyter-console==6.4.3
jupyter-core==4.9.2
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.1.0
keyring==23.5.0
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1648854667437/work
libpysal==4.6.2
MarkupSafe==2.1.1
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1639359003068/work
matplotlib-inline==0.1.3
MGSurvE @ file:///Users/sanchez.hmsc/Documents/GitHub/MGSurvE
mistune==0.8.4
munch==2.5.0
munkres==1.1.4
nbclient==0.5.13
nbconvert==6.4.5
nbformat==5.3.0
nest-asyncio==1.5.5
networkx==2.7.1
notebook==6.4.10
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1649572703737/work
opencv-contrib-python==4.5.5.64
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.4.2
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1649818043148/work
pkginfo==1.8.2
pluggy==1.0.0
pointpats==2.2.0
prometheus-client==0.14.0
prompt-toolkit==3.0.29
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pycparser==2.21
Pygments==2.11.2
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1649603503565/work
pyproj @ file:///Users/runner/miniforge3/conda-bld/pyproj_1646811389962/work
pyrsistent==0.18.1
pyshp @ file:///home/conda/feedstock_root/build_artifacts/pyshp_1644593068012/work
pytest==7.1.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz==2022.1
pyzmq==22.3.0
qtconsole==5.3.0
QtPy==2.0.1
readme-renderer==34.0
requests==2.27.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==12.2.0
scikit-learn==1.0.2
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1644357305329/work
Send2Trash==1.8.0
Shapely @ file:///Users/runner/miniforge3/conda-bld/shapely_1649587971703/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
snowballstemmer==2.2.0
soupsieve==2.3.2
Sphinx==4.5.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
stack-data==0.2.0
terminado==0.13.3
testpath==0.6.0
threadpoolctl==3.1.0
tomli==2.0.1
tornado==6.1
traitlets==5.1.1
twine==4.0.0
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1649111966296/work
urllib3==1.26.9
vincenty==0.1.4
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.6.0
zipp==3.8.0
